*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

a{
    color: inherit;
}

.copy a{
    color: #BD313E;
}

body{ 
    font-family: 'PT Serif', serif;
    color: #3a3a3a;
}

html, body { max-width: 100%; overflow-x: hidden; }

img.chart{
    margin: 0 auto 3em auto;
    width: 90%;
    max-width: 600px;
    display: table;
}

.chart-container{
    max-width: 850px;
    width: 95%;
    font-family: "Open Sans", sans-serif;
    margin: 0.1em auto;
}

.chart-container .chart-title{
    font-size: 1.4em;
    margin-top: 0;
}

.chart-container .chart-source{
    color: #aaa;
    font-weight: bold;
    margin: 0.2em 0 1.8em 0;
}

.chart-container .chart-subhed{
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    margin: 0.2em 0;
}

.photo-container{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.photo-container img{
    width: 100%;
}

.photo-caption.story-caption{  
    text-align: left;  
}

.copy{
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #3a3a3a;
}

.copy-container{
    padding-top: 3em;
} 

.copy-container p{
    margin-bottom: 1.5em;
}

.locator {
       float: right;
        margin-right: -450px;
        margin-left: 1em;
}


.headline-container{
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 1em auto;
}

.story .headline{
   padding-top: 0.8em;
        
        font-size: 2.5em;
        padding-bottom: 0.5em;
}

.story .subhed{
    font-weight: normal;
    padding-bottom: 1.5em;

}

.series-name{
    padding-top: 2em;
    padding-bottom: 0.8em;
}

.series-name,.part-name{
    text-transform: uppercase;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h3.byline{
    font-weight: 500;
    margin-bottom: 0.8em;
    font-size: 1.1em;
}

.byline .line{
        width: 220px;
        margin: 1em auto;
        border: 2px solid #54278f;
}

h3.byline.dateline{
     font-size: 1.1em;
}

section{
    padding-bottom: 1em;
}

.nav {
    color: white;
    height: 40px;
    background-color: #262626;
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 0.2em;
    top: 0;
}

.nav a{
        color: inherit;
    }
    .nav .nav-logo {
        padding-left: .3em;
        vertical-align: middle;
        height: 60%;
        margin-top: 4px;
    }
    .nav .nav-logo.mobile {
        display: none;
    }
    .nav .nav-logo.desktop {
        vertical-align: middle;
        display: inline-block;
    }
    .nav .right-container {
        position: absolute;
        right: 28px;
        top: 4px;
        font-size: 1.4em;
        
    }

    .nav i{
            margin-left: 8px;
    }


.credits{
    text-align: center;
    margin-bottom: 2em;
    font-size: 1em;
    font-style: italic;
}

.related-stories.copy{
    padding-top: 30px;
    max-width: 1050px;
    border-top: 1px solid #ddd;
}

.related-stories h2{
    border-bottom: none;
    font-size: 1.4em;
}
.related-stories .series {
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: .1em;
    font-weight: 700;
    color: #2880b9;
}
.related-stories img{
    width: 220px;
    
}
.related-stories a{
    color: inherit;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
}
.related-story{
    max-width: 210px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
    text-align: left;
    
}
.related-story:hover{
    opacity: 0.8;
}
.related-stories h3{
    font-size: 0.9em;
}

.related-stories h3 span{
  font-style: italic;
  font-weight: bold;
}

.footer-basic-centered {
    background-color: #262626;
    color: #fff;
    width: 100%;
    text-align: center;
    font: 18px "PT Serif",sans-serif;
    padding: 30px;
    padding-bottom: 50px;
    margin-top: 30px;
    
}

.footer-basic-centered .footer-links{
    float: right;
}
.footer-basic-centered .footer-company-name{
    float: left;
}
.footer-basic-centered .footer-links,.footer-company-name{
    vertical-align: middle;
    padding-bottom: 20px;
}
.footer-basic-centered a{
    margin-left: 5px;
    margin-right: 5px;
}

.social-shares{text-align: center; margin:0 0 5em auto;font-size: 1.1em; font-family:PT Serif,serif}.social-shares .social{border-radius:6px;padding:.2em 0.6em;width:157px;display:inline-block;text-align:left;color:#fff;font-style:italic;font-size:1.3em;margin:0 10px;cursor:pointer}.social-shares .social i{font-size:1.2em;vertical-align:middle;margin-right:20px}.social-shares .social.facebook{background-color:#3b5998;border:2px solid #3b5998}.social-shares .social.twitter{background-color:#1da1f2;border:2px solid #1da1f2}.social-shares .social.whatsapp{background-color:#43d854;border:2px solid #43d854;display:none}.social-shares .social:hover{background-color:#fafafa!important}.social-shares .social.facebook:hover{color:#3b5998}.social-shares .social.twitter:hover{color:#1da1f2}.social-shares .social.whatsapp:hover{color:#43d854}
.tease{
    max-width: 600px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #aaa;
    margin: 0.5em auto;
}
/* viz css */

#map-choropleth{
    text-align: center;
    display: table;
    margin: 0 auto;
}

.subunit-boundary{
    fill: none;
    stroke: #aaa;
}

#map-choropleth path{
    cursor: pointer;
}

.viz{
    position: relative;
}
.viz .map-svg{
    position: absolute;
}

span.bucket{
    width: 
}

path.selected{
    stroke: #3a3a3a;
    stroke-width: 0.5px;
}

.hist-label{
    display: inline-block;
    width: 80px;
    font-size: 0.8em;
}

.axis-label text{
    font-weight: bold;
    font-size: 0.8em;
}

.axis-label-detail text{
    font-weight: bold;
    font-size: 0.6em;
    text-anchor: end;
    text-shadow: 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff;
}

.chart-source.copy{
    font-family: "Open Sans";
    font-weight: bold;
    color: #aaa;
    font-size: 0.9em;
}

.hist-label .label-box{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.chart-title{
    width: 95%;
    margin: 0.5em auto;
    text-align: center;
}

.legend-boxes{
    width: 50px;
    height: 15px;
    display: inline-block;
}

.legend p{
    margin-bottom: 0.4em;
    font-family: "Open Sans"
}

.legend-labels{
    font-family: "Open Sans";
    font-size: 0.7em;
    text-align: center;
    width: 50px;
    display: inline-block;
}

.years{
    background-color: #ddd;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-weight: 200;
    padding: 0 42px;
    border-radius: 36px;
    position: relative;
    width: 9em;
    height: 1.2em;
    cursor: pointer;
    margin: 0.5em auto 1em auto;
}
.year-button{
    position: absolute;
    display: block;
    width: 84px;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 500;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 24px;
    color: #444;
    padding: 2px;
}

.year-button.start-year{
    left: 5px;
}

#line-chart .median-line text{
    font-family: "Open Sans";
}

#line-chart .median-line text.text-back{
    font-weight: bold;
}

#line-chart{
        text-align: center;
    margin-bottom: 2em;
}

#line-chart svg{
    margin: 0 auto;
}

#line-chart svg .domain{
    display: none;
}

#line-chart svg .tick text, #histogram svg .tick text{
    font-family: "Open Sans"
}

#line-chart svg .tick line{
    stroke: #ccc;
}

.year-button.end-year{
    right: 5px;
}

.year-button.current-year{
    background-color: #54278f;
    color: #eee;
    left: 0;
}

.chart-subhed{
    text-align: center;
}

.hist-year{
    display: inline-block;
    margin:  0.8em 1em ;
}
.hist-year p{
    font-weight: bold;
    /*border-top: solid 1px #eee*/
}
#histogram{
    text-align: center;
    font-family: "Open Sans";
}
.axis--x line{
    stroke: #e9e9e9;
}
.median line{
    stroke-dasharray: 5,5;
    stroke-width: 3px;
}
.axis--x text{
    fill: #3a3a3a;
}
.axis--x .domain{
    display: none;
}

.median text{
    font-size: 0.8em;
}
@media(max-width: 800px){
    .hist-year{
         margin: 0;
    }
}

#histogram rect.selected{
    stroke: black;
    stroke-width: 2px;
}

#histogram rect{
    cursor: pointer;
}
.locator .chart-title{
    width: 60%;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 0.8em;
}
/*TIP*/
.tip {
    text-align: center;
    top: 0px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  max-width: 220px;
  padding: 5px 10px;
  opacity: 0;
  font-family: "Open sans";
  z-index: 110;
}
.tip .close-tip {
    font-size: .8em;
    text-align: right;
    color: #888;
    display: none;
}
.tip .title {
  font-size: .8em;
  margin-bottom: 2px;
}

.tip .title span{
    font-weight: bold;
}
.tip .datum {
    font-size: .7em;
}
.tip .cover-image img {
    margin-top: 5px;
    width: 100%;
    max-width: 120px;
    opacity: 1;
}

.d3-tip{
background-color:rgba(0, 0, 0, 0.829);
color:white;
padding: 1rem 2rem;
border-radius:5px;
}
#year-box{
    display: none;
}

.desktop-year{
    display: inline-block;
    text-align: center;
    margin: 0.8em;
    font-weight: bold;
    font-family: "Open Sans"
}

#histogram .hist-ann text{
    font-size: 0.7em;

}

#line-chart .annotation text{
    font-family: "Open Sans";
    font-size: 0.8em;
    text-shadow: 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff;

}

@media (max-width:800px){
    .social-shares {text-align: center; font-size: 1em;}.social-shares .social.whatsapp{background-color:#43d854;display:inline-block}.social-shares .social{width:auto;padding:.2em .8em}.social-shares .social i{margin-right:0}.social-shares .social span{display:none}.social-shares .social{margin:0 0;border-radius:0px;width: 33%; text-align: center;border-width: 4px!important}}


@media(max-width: 1300px){
    .copy-container{
       padding-top: 2em; 
    }
}


@media(max-width: 800px){
    .locator{
       float: none;
        margin-right: 0;
        width: 95%;
        margin: 0 auto;
    }

    .chart-title, .chart-subhed{
        text-align: left;
    }

    .nav .right-container{
         right: 14px;
    }

    .nav-logo.mobile {
            display: inline-block;
        }
        .nav-logo.desktop {
            display: none;
        }
}

@media(max-width: 700px){
    img.chart{
        width: 100%;
    }
    .headline-container{
        width: 95%;
        margin: 0 auto;
    }
    .story .headline{
       font-size: 2em;
    }

    .story .subhed{
        font-size: 1.2em;
    }
    .related-stories h3{
        font-size: 1em;
    }

    .related-stories{
        text-align: center;
    }
    .copy{
        font-size: 1.1em;
    }
    .footer-basic-centered{
        padding-bottom: 30px;
        
    }

    .related-story{
        margin-right: auto;
        margin-bottom: 2em;
        margin-left: auto;
        width: 90%;
        max-width: 100%;
    }

    .related-stories img{
        width: 90%;
        margin: 0 auto;
    }

    .footer-basic-centered .footer-links,.footer-basic-centered .footer-company-name{
            float: none;
        }
    .grid{
        margin: 2em 0;
    }
    .photo{
        width: 33px;
        height: 40px;
        margin-top: -5px;
    }

    .photo.g-F:after{
        background: rgba(255, 0, 0, 0.2);
    }
    .legend-block{
        width: 90%;
        max-width: 400px;
        margin-bottom: 0.5em;
    }

    .legend-container{
        font-size: 0.8em;
    }
}

@media(max-width: 650px){
    #year-box{
        display: block;
    }
    .tip .close-tip {
        display: block;
    }
    .tip{
        text-align: left;
    }
    .hist-label-container{
        width: 95%;
        text-align: left;
        margin: 0 auto
    }
    .chart-desc, .chart-subhed{
        font-size: 0.8em;
        text-align: left;
        width: 95%;
        margin: 0 auto 1em auto;
    }
    .chart-subhed{
        font-size: 1em;
    }
    .years{
        width: 6.5em;
    }
    .lede-photo-grid.lede-mobile-big{
        display: block;
    }

    .lede-photo-grid.lede-tab, .lede-photo-grid.lede-desktop, .lede-photo-grid.lede-mobile-small{
        display: none;
    }

    .chart-container .chart-title{
        font-size: 1.2em;
    }

    .chart-container .chart-subhed{
        font-size: 0.9em;
        margin: 0.8em 0;
    }

    .chart-container .chart-source{
        font-size: 0.8em;
    }
    .locator img{
       width: 100%;
       margin-bottom: 1em;
    }
    .locator .chart-title{
        width: 95%;
    }
}

@media(max-width: 400px){
    .lede-photo-grid.lede-mobile-big{
        display: none;
    }
    .lede-photo-grid.lede-mobile-small{
        display: block;
    }
}

::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#f44336;  border-radius: 10px;}
::-webkit-scrollbar{width:4px;height:2px;background-color:#23f5b5}
::-webkit-scrollbar-thumb{background-color:#555;border:4px solid  #23f5b5;}